body {

    font-family: Arial;

    padding:20px;

    width:300px;

}



button {

    width:100%;

    padding:12px;

    font-size:16px;

    cursor:pointer;

}



input {

    width:100%;

    margin-top:15px;

    padding:8px;

    box-sizing:border-box;

}



#status {

    margin-top:15px;

}



#tabList {

    margin-top:15px;

}



.tab-card {


    border:1px solid #ddd;

    border-radius:8px;

    padding:10px;

    margin-bottom:10px;

    cursor:pointer;

}



.tab-card:hover {


    background:#f5f5f5;


}